* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #74c8f8;
  /* background-image: url('../public/backgroundDU.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 100%;
}
html {
  height: 100%;
}

main {
  min-height: 100%;
}

.player-name-song {
  display: inline-block;
  text-align: center;
  justify-content: center;
}